<?xml version="1.0" encoding="UTF-8" ?>                                          
<!DOCTYPE mapper                                                                     
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"                                      
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">                                   
<mapper namespace="com.gzwanhong.mapper.BackupRecordMapper">                               
                                                                                     
	<sql id="dbName"> backup_record </sql>                                                     
	<sql id="columns"> id,file_name,file_path,target_path,file_or_dir,change_type,create_time </sql>                                                        
	<sql id="insertVal"> #{id,jdbcType=VARCHAR},#{fileName,jdbcType=VARCHAR},#{filePath,jdbcType=VARCHAR},#{targetPath,jdbcType=VARCHAR},#{fileOrDir,jdbcType=NUMERIC},#{changeType,jdbcType=NUMERIC},#{createTime,jdbcType=TIMESTAMP} </sql>                                                      
	<sql id="insertVal2"> #{item.id,jdbcType=VARCHAR},#{item.fileName,jdbcType=VARCHAR},#{item.filePath,jdbcType=VARCHAR},#{item.targetPath,jdbcType=VARCHAR},#{item.fileOrDir,jdbcType=NUMERIC},#{item.changeType,jdbcType=NUMERIC},#{item.createTime,jdbcType=TIMESTAMP} </sql>                                                     
	<sql id="updateVal"> set file_name = #{fileName,jdbcType=VARCHAR},file_path = #{filePath,jdbcType=VARCHAR},target_path = #{targetPath,jdbcType=VARCHAR},file_or_dir = #{fileOrDir,jdbcType=NUMERIC},change_type = #{changeType,jdbcType=NUMERIC} </sql>                                                     
	<sql id="updateVal2"> set file_name = #{item.fileName,jdbcType=VARCHAR},file_path = #{item.filePath,jdbcType=VARCHAR},target_path = #{item.targetPath,jdbcType=VARCHAR},file_or_dir = #{item.fileOrDir,jdbcType=NUMERIC},change_type = #{item.changeType,jdbcType=NUMERIC} </sql>                                                    
                                                                                     
    <resultMap type="com.gzwanhong.domain.BackupRecord" id="backupRecord"> 
    	<id property="id" column="id"/>
    	<result property="fileName" column="file_name"/>
    	<result property="filePath" column="file_path"/>
    	<result property="targetPath" column="target_path"/>
    	<result property="fileOrDir" column="file_or_dir"/>
    	<result property="changeType" column="change_type"/>
    	<result property="createTime" column="create_time"/>
    </resultMap>
                                                                                     
	<select id="queryById" resultMap="backupRecord">                                        
		select * from                                                                   
		<include refid="dbName" />                                                    
		where id =                                                                      
		#{id}                                                                           
	</select>                                                                           
                                                                                     
	<select id="queryByIds" resultMap="backupRecord">                                       
		select * from                                                                   
		<include refid="dbName" />                                                    
		where id in                                                                     
		<foreach collection="list" item="item" open="(" close=")"               
			separator=",">#{item}</foreach>                                           
	</select>                                                                           
                                                                                     
	<insert id="save">                                                                
		insert into                                                                     
		<include refid="dbName" />                                                    
		(                                                                               
		<include refid="columns" />                                                   
		) values                                                                        
		(                                                                               
		<include refid="insertVal" />                                                 
		)                                                                               
	</insert>                                                                           
                                                                                     
	<insert id="saveAll">                                                             
		insert into <include refid="dbName" /> (<include refid="columns" />) values <foreach collection="list" item="item" index="index" separator=","> (<include refid="insertVal2" />) </foreach>
	</insert>                                                                           
                                                                                     
	<delete id="removeById">                                                          
		delete from                                                                     
		<include refid="dbName" />                                                    
		where id = #{id}                                                                
	</delete>                                                                           
                                                                                     
	<delete id="removeByIds">                                                         
		delete from                                                                     
		<include refid="dbName" />                                                    
		where id in                                                                     
		<foreach collection="list" item="item" separator="," open="("           
			close=")">#{item}</foreach>                                               
	</delete>                                                                           
                                                                                     
                                                                                     
	<delete id="removeBySql">                                   
		${sqlStr}                                                                       
	</delete>                                                                           
                                                                                     
                                                                                     
	<update id="update">                                                              
		update                                                                          
		<include refid="dbName" />                                                    
		<include refid="updateVal" />                                                 
		where id = #{id}                                                                
	</update>                                                                           
                                                                                     
	<update id="updateAll">                                                           
		<foreach collection="list" item="item" index="index" open="" close=";" separator=";">update <include refid="dbName" /> <include refid="updateVal2" /> where id = #{item.id}</foreach>	</update>                                                                           
                                                                                     
	<update id="updateBySql">                                                         
		${sqlStr}                                                                       
	</update>                                                                           
                                                                                     
	<select id="queryByExample" resultMap="backupRecord">                                   
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryBySql" resultMap="backupRecord">                                       
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryBySqlToMap" resultType="map">                                  
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryCountByExample" resultType="integer">                          
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<!-- 以上是自动生成的代码，自定义的查询什么的请写在下面 -->                         
	
	<select id="queryBackupRecord" resultType="map">                                  
		SELECT
			br.id,
			br.file_name AS fileName,
			br.file_path AS filePath,
			br.target_path AS targetPath,
			br.file_or_dir AS fileOrDir,
			br.change_type AS changeType,
			br.create_time AS createTime
		FROM
			backup_record br
		ORDER BY
			br.create_time DESC                                                     
	</select>                       
</mapper>             
