<?xml version="1.0" encoding="UTF-8" ?>                                          
<!DOCTYPE mapper                                                                     
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"                                      
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">                                   
<mapper namespace="com.gzwanhong.mapper.DownAllFileMapper">                               
                                                                                     
	<sql id="dbName"> down_all_file </sql>                                                     
	<sql id="columns"> id,file_path,file_size,target_path,file_or_dir,status,update_time,create_time </sql>                                                        
	<sql id="insertVal"> #{id,jdbcType=VARCHAR},#{filePath,jdbcType=VARCHAR},#{fileSize,jdbcType=NUMERIC},#{targetPath,jdbcType=VARCHAR},#{fileOrDir,jdbcType=NUMERIC},#{status,jdbcType=NUMERIC},#{updateTime,jdbcType=TIMESTAMP},#{createTime,jdbcType=TIMESTAMP} </sql>                                                      
	<sql id="insertVal2"> #{item.id,jdbcType=VARCHAR},#{item.filePath,jdbcType=VARCHAR},#{item.fileSize,jdbcType=NUMERIC},#{item.targetPath,jdbcType=VARCHAR},#{item.fileOrDir,jdbcType=NUMERIC},#{item.status,jdbcType=NUMERIC},#{item.updateTime,jdbcType=TIMESTAMP},#{item.createTime,jdbcType=TIMESTAMP} </sql>                                                     
	<sql id="updateVal"> set file_path = #{filePath,jdbcType=VARCHAR},file_size = #{fileSize,jdbcType=NUMERIC},target_path = #{targetPath,jdbcType=VARCHAR},file_or_dir = #{fileOrDir,jdbcType=NUMERIC},status = #{status,jdbcType=NUMERIC},update_time = #{updateTime,jdbcType=TIMESTAMP} </sql>                                                     
	<sql id="updateVal2"> set file_path = #{item.filePath,jdbcType=VARCHAR},file_size = #{item.fileSize,jdbcType=NUMERIC},target_path = #{item.targetPath,jdbcType=VARCHAR},file_or_dir = #{item.fileOrDir,jdbcType=NUMERIC},status = #{item.status,jdbcType=NUMERIC},update_time = #{item.updateTime,jdbcType=TIMESTAMP} </sql>                                                    
                                                                                     
    <resultMap type="com.gzwanhong.domain.DownAllFile" id="downAllFile"> 
    	<id property="id" column="id"/>
    	<result property="filePath" column="file_path"/>
    	<result property="fileSize" column="file_size"/>
    	<result property="targetPath" column="target_path"/>
    	<result property="fileOrDir" column="file_or_dir"/>
    	<result property="status" column="status"/>
    	<result property="updateTime" column="update_time"/>
    	<result property="createTime" column="create_time"/>
    </resultMap>
                                                                                     
	<select id="queryById" resultMap="downAllFile">                                        
		select * from                                                                   
		<include refid="dbName" />                                                    
		where id =                                                                      
		#{id}                                                                           
	</select>                                                                           
                                                                                     
	<select id="queryByIds" resultMap="downAllFile">                                       
		select * from                                                                   
		<include refid="dbName" />                                                    
		where id in                                                                     
		<foreach collection="list" item="item" open="(" close=")"               
			separator=",">#{item}</foreach>                                           
	</select>                                                                           
                                                                                     
	<insert id="save">                                                                
		insert into                                                                     
		<include refid="dbName" />                                                    
		(                                                                               
		<include refid="columns" />                                                   
		) values                                                                        
		(                                                                               
		<include refid="insertVal" />                                                 
		)                                                                               
	</insert>                                                                           
                                                                                     
	<insert id="saveAll">                                                             
		insert into <include refid="dbName" /> (<include refid="columns" />) values <foreach collection="list" item="item" index="index" separator=","> (<include refid="insertVal2" />) </foreach>
	</insert>                                                                           
                                                                                     
	<delete id="removeById">                                                          
		delete from                                                                     
		<include refid="dbName" />                                                    
		where id = #{id}                                                                
	</delete>                                                                           
                                                                                     
	<delete id="removeByIds">                                                         
		delete from                                                                     
		<include refid="dbName" />                                                    
		where id in                                                                     
		<foreach collection="list" item="item" separator="," open="("           
			close=")">#{item}</foreach>                                               
	</delete>                                                                           
                                                                                     
                                                                                     
	<delete id="removeBySql">                                   
		${sqlStr}                                                                       
	</delete>                                                                           
                                                                                     
                                                                                     
	<update id="update">                                                              
		update                                                                          
		<include refid="dbName" />                                                    
		<include refid="updateVal" />                                                 
		where id = #{id}                                                                
	</update>                                                                           
                                                                                     
	<update id="updateAll">                                                           
		<foreach collection="list" item="item" index="index" open="" close=";" separator=";">update <include refid="dbName" /> <include refid="updateVal2" /> where id = #{item.id}</foreach>	</update>                                                                           
                                                                                     
	<update id="updateBySql">                                                         
		${sqlStr}                                                                       
	</update>                                                                           
                                                                                     
	<select id="queryByExample" resultMap="downAllFile">                                   
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryBySql" resultMap="downAllFile">                                       
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryBySqlToMap" resultType="map">                                  
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryCountByExample" resultType="integer">                          
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<!-- 以上是自动生成的代码，自定义的查询什么的请写在下面 -->                         
	
	<delete id="removeAll">                                                         
		TRUNCATE down_all_file                                           
	</delete>                    
</mapper>             
