<?xml version="1.0" encoding="UTF-8" ?>                                          
<!DOCTYPE mapper                                                                     
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"                                      
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">                                   
<mapper namespace="com.gzwanhong.mapper.DepartmentMapper">                               
                                                                                     
	<sql id="dbName"> department </sql>                                                     
	<sql id="columns"> id,name,parent_id,tel,address,linkman,create_time </sql>                                                        
	<sql id="insertVal"> #{id,jdbcType=VARCHAR},#{name,jdbcType=VARCHAR},#{parentId,jdbcType=VARCHAR},#{tel,jdbcType=VARCHAR},#{address,jdbcType=VARCHAR},#{linkman,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP} </sql>                                                      
	<sql id="insertVal2"> #{item.id,jdbcType=VARCHAR},#{item.name,jdbcType=VARCHAR},#{item.parentId,jdbcType=VARCHAR},#{item.tel,jdbcType=VARCHAR},#{item.address,jdbcType=VARCHAR},#{item.linkman,jdbcType=VARCHAR},#{item.createTime,jdbcType=TIMESTAMP} </sql>                                                     
	<sql id="updateVal"> set name = #{name,jdbcType=VARCHAR},parent_id = #{parentId,jdbcType=VARCHAR},tel = #{tel,jdbcType=VARCHAR},address = #{address,jdbcType=VARCHAR},linkman = #{linkman,jdbcType=VARCHAR} </sql>                                                     
	<sql id="updateVal2"> set name = #{item.name,jdbcType=VARCHAR},parent_id = #{item.parentId,jdbcType=VARCHAR},tel = #{item.tel,jdbcType=VARCHAR},address = #{item.address,jdbcType=VARCHAR},linkman = #{item.linkman,jdbcType=VARCHAR} </sql>                                                    
                                                                                     
    <resultMap type="com.gzwanhong.domain.Department" id="department"> 
    	<id property="id" column="id"/>
    	<result property="name" column="name"/>
    	<result property="parentId" column="parent_id"/>
    	<result property="tel" column="tel"/>
    	<result property="address" column="address"/>
    	<result property="linkman" column="linkman"/>
    	<result property="createTime" column="create_time"/>
    </resultMap>
                                                                                     
	<select id="queryById" resultMap="department">                                        
		select * from                                                                   
		<include refid="dbName" />                                                    
		where id =                                                                      
		#{id}                                                                           
	</select>                                                                           
                                                                                     
	<select id="queryByIds" resultMap="department">                                       
		select * from                                                                   
		<include refid="dbName" />                                                    
		where id in                                                                     
		<foreach collection="list" item="item" open="(" close=")"               
			separator=",">#{item}</foreach>                                           
	</select>                                                                           
                                                                                     
	<insert id="save">                                                                
		insert into                                                                     
		<include refid="dbName" />                                                    
		(                                                                               
		<include refid="columns" />                                                   
		) values                                                                        
		(                                                                               
		<include refid="insertVal" />                                                 
		)                                                                               
	</insert>                                                                           
                                                                                     
	<insert id="saveAll">                                                             
		insert into <include refid="dbName" /> (<include refid="columns" />) values <foreach collection="list" item="item" index="index" separator=","> (<include refid="insertVal2" />) </foreach>
	</insert>                                                                           
                                                                                     
	<delete id="removeById">                                                          
		delete from                                                                     
		<include refid="dbName" />                                                    
		where id = #{id}                                                                
	</delete>                                                                           
                                                                                     
	<delete id="removeByIds">                                                         
		delete from                                                                     
		<include refid="dbName" />                                                    
		where id in                                                                     
		<foreach collection="list" item="item" separator="," open="("           
			close=")">#{item}</foreach>                                               
	</delete>                                                                           
                                                                                     
                                                                                     
	<delete id="removeBySql">                                   
		${sqlStr}                                                                       
	</delete>                                                                           
                                                                                     
                                                                                     
	<update id="update">                                                              
		update                                                                          
		<include refid="dbName" />                                                    
		<include refid="updateVal" />                                                 
		where id = #{id}                                                                
	</update>                                                                           
                                                                                     
	<update id="updateAll">                                                           
		<foreach collection="list" item="item" index="index" open="" close=";" separator=";">update <include refid="dbName" /> <include refid="updateVal2" /> where id = #{item.id}</foreach>	</update>                                                                           
                                                                                     
	<update id="updateBySql">                                                         
		${sqlStr}                                                                       
	</update>                                                                           
                                                                                     
	<select id="queryByExample" resultMap="department">                                   
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryBySql" resultMap="department">                                       
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryBySqlToMap" resultType="map">                                  
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<select id="queryCountByExample" resultType="integer">                          
		${sqlStr}                                                                       
	</select>                                                                           
                                                                                     
	<!-- 以上是自动生成的代码，自定义的查询什么的请写在下面 -->                         
	
	<select id="queryTreegrid">
		<![CDATA[
		SELECT
			d.*
		FROM
			department d
		WHERE
			FIND_IN_SET(
				d.id,
				querySubId (
					#{departmentId},
					'department'
				)
			)
		]]>
	</select>  
	
	<!-- 查询该id的部门跟它下面的所有子部门 -->
	<select id="querySubDeptId">       
		<![CDATA[
		select querySubId(#{id},'department') as ids from dual
		]]>
	</select>            
	
	<!-- 查询除该ID下的所有部门 -->
	<select id="querySubDeptIdNotOwn">       
		<![CDATA[
		select querySubIdNotOwn(#{id},'department') as ids from dual
		]]>
	</select>            
</mapper>             
